<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My blog!</title>
</head>
<body>
    <div>
        <h1><a href="/">My blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:39</p>
        <h2><a href="/">My first post</a></h2>
        <p>Hello every one, now i am learning type very fast as can as i</p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:39</p>
        <h2><a href="/">My second post</a></h2>
        <p>Hello every one, now i am learning type very fast as can as i</p>
    </div>
</body>
</html>